body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    font-family: Arial, sans-serif;
}

#game-container {
    text-align: center;
    width: 80vw;
    height: 80vh;
    border: 2px solid #333;
    background-color: #fff;
    background-image: url('./imagens/D9sg.gif');
    background-size: cover;
    background-position: center;
    padding: 20px;
    box-sizing: border-box;
}

#instruction {
    font-size: 24px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 80px;
    border-radius: 10px;
}

#target-image-name {
    font-size: 24px;
    margin-bottom: 20px;
    color: red;
    padding: 80px;
    border-radius: 10px;
}

#images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 100px;
    gap: 10px;
}

.image-item {
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid #333;
    border-radius: 10px;
    transition: transform 0.2s;
}

.image-item:hover {
    transform: scale(1.1);
}

#score {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
}